<div class="row" *ngFor="let j of jokes">
    <div class="col-md-10" class="jokes-container">
        <ul>
            <li>&#9997; {{j.jokes[0].joke}}</li>
            <li>&#9997; {{j.jokes[1].joke}}</li>
            <li>&#9997; {{j.jokes[2].joke}}</li>
            <li>&#9997; {{j.jokes[3].joke}}</li>
            <li>&#9997; {{j.jokes[4].joke}}</li>
            <li>&#9997; {{j.jokes[5].joke}}</li>
            <li>&#9997; {{j.jokes[6].joke}}</li>
            <li>&#9997; {{j.jokes[7].joke}}</li>
            <li>&#9997; {{j.jokes[8].joke}}</li>
            <li>&#9997; {{j.jokes[9].joke}}</li>
        </ul>
    </div>

</div>

